
.top-margin {
    margin-top: 50px;
}

.top-margin-1 {
    margin-top: 20px;
}

.right-margin {
    margin-right: 15px
}

.input-sm {
    width: 50px;
}

.input-sm-50 {
    width: 70px !important;
}

.tom-margin-50 {
    margin-top: 40px;
}
