<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
</head>

<body ng-app="yesdoctor">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Yes! Doctor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid top-margin" ng-controller="AppCtrl">
        <!-- Add new patient-->
        <div class="row">
            <div class="col-xs-12 top-margin-1">
                <form class="form-inline" ng-submit="addPatient()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newPatient.name" id="patientName" placeholder="Enter patient name">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" ng-model="newPatient.age" id="patientName" placeholder="Enter age">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" ng-model="newPatient.weight" id="patientName" placeholder="Enter weight">
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>

        
        <!-- appointment section-->
        <div class="row">
            <div class="col-xs-2 top-margin-1">
                <span>Date:</span>
                <input type="date" ng-model="date" ng-value=date>
                <div class="list-group top-margin-1">
                    <a href="#" class="list-group-item active">
                    Appointments
                  </a>
                    <a ng-repeat="a in appointments" href="#" class="list-group-item" ng-click="getPatient(a.id)">{{a.id}} - {{a.name}}</a>
                </div>
            </div>
            <div class="col-xs-10 tom-margin-50">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{patient.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <span>Age: <b>{{patient.age}}</b></span>
                        <span>Weight: <b>{{patient.weight}}</b></span>
                    </div>
                </div>
                <form class="form-inline" ng-submit="addCase()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newCase.complaint" id="complaint" placeholder="Complaint">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newCase.diagnosis" id="Diagnosis" placeholder="Diagnosis">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newCase.treatment" id="Treatment" placeholder="Treatment">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm-50" ng-model="newCase.days" id="days" placeholder="Days">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm-50" ng-model="newCase.fee" id="fee" placeholder="Fee">
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Complaint</th>
                            <th>Diagnosis</th>
                            <th>Treatment</th>
                            <th>Days</th>
                            <th>Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="case in patient.cases">
                            <td scope="row">{{case.date}}</td>
                            <td>{{case.complaint}}</td>
                            <td>{{case.diagnosis}}</td>
                            <td>{{case.treatment}}</td>
                            <td>{{case.days}}</td>
                            <td>{{case.fee}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="./app.js"></script>
</body>

</html>